# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\kyle\Resilio Sync\kyle$\Oregon State Classes\CS 331 - Intro Artificial Intelligence\Homework\hw1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
